{% extends 'ProyectoWebApp/base.html' %}

{% load static %}



{% block content %}

{% for post in turistico %}

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <!-- Nacho -->
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" id="custom-imagenacho" src="{{post.imagen.url}}" alt="" style="width: 70%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower" style="color: white;"> {{post.nombre}}</span>
            <span class="section-heading-lower">Ubicado en la localidad de: {{post.ciudad_origen}}</span>

          </h2>
          <div style="text-align: left; font-size: 0.8em;">


            <!--CP: {{post.ciudad_origen.codigo_postal}}-->


          </div>

        </div>
      </div>
    </div>
</section>


{% endfor %}

<section>
	<div style="width: 75%; margin: auto; text-align: center; color: white;">
		BUSCADOR:

	</div>





</section>




{% endblock %}