{% extends 'ProyectoWebApp/base.html' %}


  {% load static %}

  {% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Proyectostatic/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">SOMOS CHACO</span>
            <span class="section-heading-lower">SOMOS TURISMO</span>
          </h2>
          <p class="mb-3">Estamos presentes en los máximos eventos de turismo de Latinoamérica, promoviendo nuestra riqueza cultural, natural y gastronómica.
          </p>

        </div>
      </div>
    </div>
  </section>


  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Proyectostatic/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">SOMOS CHACO</span>
            <span class="section-heading-lower">SOMOS DIVERSIDAD</span>
          </h2>
          <p class="mb-3">Chaco es un destino por descubrir por la diversidad cultural de sus comunidades originarias y de los descendientes de los inmigrantes europeos.
          </p>

        </div>
      </div>
    </div>
  </section>


  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'Proyectostatic/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">SOMOS CHACO</span>
            <span class="section-heading-lower">SOMOS RIO</span>
          </h2>
          <p class="mb-3">Nuestros humedales y ríos conforman una geografía prodigiosa en belleza y abundante en experiencias.
          </p>

        </div>
      </div>
    </div>
  </section>





    <!-- Message -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper" style="color: white;">Compromiso total</span>
                <span class="section-heading-lower" style="color: white;">Garantizado</span>
              </h2>
              <p class="mb-0" style="color: white;">Con más de 75 años de experiencia a nuestras espaldas, desde Gestión de Pedidos tenemos los conocimientos y herramientas necesarios para llevar cualquier objeto a la puerta de su casa con puntualidad y profesionalidad.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    
{% endblock %}